<!-- Load comment by ajax and apend comment here -->
<div id="list-comment-{{post.id}}">
</div>

<a id="btn-load-more-comment" class="btn btn-load-more-comment" data-next_page_number="1"
    data-post_id="{{ post.id }}">Load more ...</a>

<!-- delete comment -->
<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="confirm-delete-comment">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Are you sure to delete this?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-comment-delete">Yes</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>


<!-- create comment-->
<form method="POST" id="create-comment-form-{{post.id}}" class="mt-3 create-new-comment-form"  data-post_id="{{ post.id }}">
    <div class="text-center loading mb-3 d-none">
        <div class="spinner-border spinner-border-sm" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div class="border-left-secondary input-group">
        <textarea class="form-control" name="content" placeholder="Some comments..."></textarea>
        <div class="input-group-append">
            <button class="btn btn-outline-secondary btn-create-comment" type="submit">Send</button>
        </div>
    </div>
    {% if not user.is_authenticated %}
    <p><a href="{% url 'user-login-page' %}?next={{ request.path }}">Login</a> required to make
        comment!</p>
    {% endif %}
</form>
