{% extends 'base.html' %}
{%load static %}
{% load crispy_forms_tags %}
{% load load_parent_comment %}

<!-- Extra head here -->
{% block extrahead %}
<title>whatsIdea</title>
<meta name="content" content="">
{% endblock extrahead %}

<!-- Content here -->
{% block content %}
<style>
    img {
        width: 120px;
    }
</style>

<main>
    <div class="row">
        <div class="col-md-7 px-0">
            {% block main-content %}
            {% endblock main-content %}
        </div>

        <div class="col-md-5 px-0 px-md-3">
            {% if idea %}   
                {% include "idea/component/post-area.html" %}
            {% endif %}
        </div>
    </div>
</main>

{% endblock content %}