{% extends 'idea/idea-base.html' %}
{%load static %}
{% load crispy_forms_tags %}

<!-- Extra head here -->
{% block extrahead %}
<title>whatsIdea</title>
<meta name="description" content="">
<script src="https://unpkg.com/json5@^2.0.0/dist/index.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>
{% endblock extrahead %}



<!-- Content here -->
{% block main-content %}
<style>
    img {
        width: 120px;
    }
</style>

<main>

    <div class="new-idea-btn border btn w-100 btn btn-outline-secondary text-left d-flex align-items-center">
        <img src="/static/img/bring.png" alt="">
        <div>
            <span>Let's Bring Your Idea</span>
            <br>
            <span>to the World!</span>
        </div>
    </div>

    <div class="form-group my-3">
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="title">Title *</label>
                <input type="text" class="form-control" name="title" id="title" placeholder="Title" required>
            </div>
            <div class="accordion mb-3" id="accordionExample">
                <div class="card">
                    <div class="card-header border-0 p-0" id="headingOne" data-toggle="collapse"
                                data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left" type="button" >
                                Optional fields
                            </button>
                        </h2>
                    </div>

                    <div id="collapseOne" class="collapse hide" aria-labelledby="headingOne"
                        data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="title">Problem</label>
                                <textarea class="form-control" name="problem" placeholder="Problem"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="title">Solution</label>
                                <textarea class="form-control" name="solution" placeholder="Solution"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label>Description *</label>
                <div class="border">
                    <div class="m-3" id="editorjs"></div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>
</main>

<script>
    const editor = new EditorJS({
        placeholder: 'Describe your idea!',
        holder: 'editorjs',
        minHeight: '100',
        data: {},
        tools: {
            header: Header,
            image: {
                inlineToolbar: true,
                class: ImageTool,
                config: {
                    additionalRequestHeaders: {
                        "X-CSRFToken": csrftoken
                    },
                    endpoints: {
                        byFile: `{% url 'image-upload-api' %}`, // Your backend file uploader endpoint
                        byUrl: 'http://localhost:8000/image/upload/', // Your endpoint that provides uploading by Url
                    }
                }
            }
        },
    });

    $('form').submit(function (event) {
        event.preventDefault();
        let data = $("form").serializeJSON();
        let description = "";
        editor.save().then((outputData) => {
            description = JSON.stringify(outputData)
            create_idea(data.title, data.problem, data.solution, description)

        }).catch((error) => {
            console.log('Saving failed: ', error)
        });
    })

    function create_idea(title, problem, solution, description) {
        data = JSON.stringify({
            "title": title,
            "problem": problem,
            "solution": solution,
            "description": description
        })
        console.log(data)
        $.ajax({
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": csrftoken
            },
            url: "{% url 'idea-create-page' %}",
            type: "POST",
            data: data,
            success: function (res) {
                console.log(res.idea_slug)
                window.location.href = `${location.protocol}//{{ request.get_host }}/idea/${res.idea_slug}`
            },
            error: (res) => {
                // console.log(res)
            }
        })
    }
</script>

{% endblock main-content %}