{% extends 'base.html' %}
{%load static %}

<!-- Extra head here -->
{% block extrahead %}
<title>whatsIdea</title>
<meta name="content" content="">
{% endblock extrahead %}



<!-- Content here -->
{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-rss/3.3.0/jquery.rss.min.js"></script>
<style>
    .new-idea-btn {
        cursor: pointer;
    }

    img {
        width: 120px;
    }

    #side-nav {
        position: relative;
    }

    #rss-feeds {
        max-height: 100vh;
        overflow: auto;
        position: sticky;
        top: 0;
        right: 0;
    }
</style>
<div>
    <div class="row">
        <div class="col-md-7 p-0 p-md-3">
            <main>

                <div class="search-area mb-3 mx-3 mx-md-0">
                    <legend>
                        Search for Business Ideas!</legend>
                    <form action="GET">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                            <small id="emailHelp" class="form-text text-muted">We've been shared {{ idea_count }} ideas
                            </small>
                        </div>
                        <button type="submit" class="btn btn-primary">Search</button>
                    </form>
                </div>
                <div class=" ">
                    <a href="{% url 'idea-create-page' %}"
                        class="new-idea-btn border btn w-100 btn btn-outline-secondary text-left rounded-0">
                        <img src="{% static 'img/say-hi.png' %}" alt="">
                        <span>Have</span>
                        <span>New</span>
                        <span>Idea</span>
                    </a>
                </div>

                <div>
                    {% for idea in ideas %}
                    <div id="{{ idea.slug }}" class="idea border px-3 py-2 my-3" data-idea_slug="{{ idea.slug }}">
                        {% comment %} <a href="{% url 'idea-detail-page' idea.slug %}">
                            <span>{{ idea.title }}</span>
                        </a> {% endcomment %}

                        <p>{{ idea.shortdesc }}</p>

                        {% comment %} {% if idea.shortdesc %}
                        <div class="p-3 my-3 border border-left-success">
                        </div>
                        {% endif %}
                        {% endcomment %}
                        <div class="editorjs p-3 my-3 border border-left-secondary" id="editorjs-{{ idea.slug }}"
                            data-content="{{ idea.content }}" data-editor_id="editorjs-{{ idea.slug }}">
                        </div>

                        <div class="border-top mt-3">
                            <nav class="navbar px-0">
                                <div>
                                    <a class="navbar-brand" href="">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-capslock-fill"
                                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd"
                                                d="M7.27 1.047a1 1 0 0 1 1.46 0l6.345 6.77c.6.638.146 1.683-.73 1.683H11.5v1a1 1 0 0 1-1 1h-5a1 1 0 0 1-1-1v-1H1.654C.78 9.5.326 8.455.924 7.816L7.27 1.047zM4.5 13.5a1 1 0 0 1 1-1h5a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1h-5a1 1 0 0 1-1-1v-1z" />
                                        </svg>
                                    </a>
                                    <span>{{ idea.vote_set.all.count }}</span>
                                    <a class="navbar-brand mr-0 ml-3" href="">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16"
                                            class="bi bi-chat-left-dots-fill" fill="currentColor"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd"
                                                d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H4.414a1 1 0 0 0-.707.293L.854 15.146A.5.5 0 0 1 0 14.793V2zm5 4a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                                        </svg>
                                    </a>
                                    <span class='ml-3'>{{ idea.contribution_set.all.count }}</span>
                                </div>
                                <div>
                                    <a href="{% url 'idea-detail-page' idea.slug %}">
                                        @{{ idea.slug }}
                                    </a>
                                </div>
                            </nav>
                        </div>
                    </div>
                    {% endfor %}

                </div>

            </main>
        </div>

        <div class="col-md-5" id="side-nav">
            <div id="rss-feeds"></div>
        </div>
    </div>
</div>

<script>
    $(".editorjs").each(function () {
        let current = $(this);
        console.log(current.data("content"))
        let editor = new EditorJS({
            readOnly: true,
            holder: current.data("editor_id"),
            minHeight: '0',
            data: current.data("content"),
            tools: {
                header: Header,
                image: {
                    inlineToolbar: true,
                    class: ImageTool,
                    config: {
                        additionalRequestHeaders: {
                            "X-CSRFToken": csrftoken
                        },
                        endpoints: {
                            byFile: `{% url 'image-upload-api' %}`, // Your backend file uploader endpoint
                            byUrl: 'http://localhost:8000/image/upload/', // Your endpoint that provides uploading by Url
                        }
                    }
                }
            },
        });
    });

    $("#rss-feeds").rss("https://vnexpress.net/rss/startup.rss", {
        limit: 10,
        ssl: true,
        layoutTemplate: "<ul class='list-group p-0'>{entries}</ul>",
        entryTemplate: `<li class="list-group-item border-0">
                            <a href="{url}" class="w-100">
                                <img class="w-100 rounded" src="{teaserImageUrl}" alt="" srcset="">
                            </a>                            
                            <a href="{url}">{title}</a>
                            <small class="d-block">{date}</small>                            
                            {shortBodyPlain}
                          </li>`,
        dateFormat: "MMMM Do, YYYY",


    });
</script>

{% endblock content %}