{% extends 'base.html' %}
{%load static %}

<!-- Extra head here -->
{% block extrahead %}
<title>whatsIdea</title>
<meta name="content" content="">
{% endblock extrahead %}

<!-- Content here -->
{% block content %}
<div>
    <h1>CHÍNH SÁCH BẢO MẬT</h1>
    <h2>I. Thông tin bảo mật.</h2>
    <p>Bảo mật thông tin khách hàng là một trong những ưu tiên hàng đầu nhằm tạo điều kiện sử dụng tốt nhất cho quý
        khách
        tại WHATSIDEA.BUSINESS. Chúng tôi hiểu sử dụng hợp lý và bảo mật thông tin sẽ thể hiện sự quan tâm của
        WHATSIDEA.BUSINESS dành cho quý khách. Vì thế, WHATSIDEA.BUSINESS cam kết việc sử dụng thông tin trên sẽ chỉ
        nhằm
        nâng cao chất lượng dịch vụ khách hàng và tạo môi trường trao đổi thông tin an tòan, tiện lợi tại
        WHATSIDEA.BUSINESS. Cụ thể, thông tin cá nhân của quý khách chỉ dùng với các mục đích sau:</p>
    <ul>
        <li>1. Số điện thoại và địa chỉ Email của quý khách được dùng nhằm trao đổi ý tưởng giữa các khách hàng với
            nhau, giúp
            tăng thêm nhu cầu và cơ hội giao dịch.</li>
        <li>2. Hành vi giao tiếp lịch sự, đăng bài hợp lý và lịch sự của quý khách chỉ giúp WhatsIdea.Business tạo một
            trải
            nghiệm tốt hơn cho quý khách. </li>
    </ul>
    <h2>II. WhatsIdea.Business cam kết bảo vệ thông tin của khách hàng</h2>

    <p>WHATSIDEA.BUSINESS cam đoan sẽ không bán, chia sẻ dẫn đến làm lộ thông tin cá nhân của quý khách vì bất cứ mục
        đích
        gì. WHATSIDEA.BUSINESS cam kết không lưu lại bất kỳ thông tin tài khoản ngân hàng, thông tin thẻ tín dụng và
        thông tin
        tài chính của quý khách.</p>
    <h2>III. Trách nhiệm của khách hàng.</h2>

    <p>Quý khách không nên trao đổi những thông tin tài khoản của mình cho 1 bên thứ 3 nào khác để tránh rò rỉ thông
        tin.
        Khi sử dụng chung máy tính với nhiều người, vui lòng thoát khỏi tài khoản mỗi khi không sử dụng dịch vụ của
        WHATSIDEA.BUSINESS nữa để tự bảo vệ thông tin về mật khẩu truy cập của mình.</p>
    <p>Ngoài ra, quý khách tuyệt đối không được sử dụng bất kỳ hình thức nào để can thiệp vào hệ thống hay làm thay đổi
        cấu
        trúc dữ liệu. Chúng tôi nghiêm cấm việc phát tán, truyền bá hay cổ vũ cho bất kỳ hoạt động nào nhằm can thiệp,
        phá
        hoại hay xâm nhập vào dữ liệu của hệ thống website. Mọi vi phạm sẽ bị tước bỏ mọi quyền lợi cũng như sẽ bị truy
        tố
        trước pháp luật nếu cần thiết. Mọi thông tin của quý khách tại WHATSIDEA.BUSINESS sẽ được chúng tôi bảo mật
        nhưng
        trong trường hợp pháp luật yêu cầu, chúng tôi buộc phải cung cấp thông tin này cho cơ quan pháp luật</p>
     
    <p>WHATSIDEA.BUSINESS hiểu rằng quyền lợi của quý khách trong việc bảo vệ thông tin cá nhân cũng chính là trách
        nhiệm
        của WhatsIdea.Business, nên trong bất kỳ trường hợp có thắc mắc, góp ý nào liên quan đến chính sách bảo mật của
        WHATSIDEA.BUSINESS, vui lòng liên hệ:
        Email: info@whatsIdea.Business.com</p>

</div>
{% endblock content %}