{% extends 'base.html' %}
{%load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}


<!-- Extra head here -->
{% block extrahead %}
<title>whatsIdea</title>
<meta name="description" content="">
{% endblock extrahead %}



<!-- Content here -->
{% block content %}
<main>
    <legend class="border-bottom mb-4">Welcome to the Idea Land!</legend>


    <a class="btn btn-outline-primary" href="{% url 'social:begin' 'google-oauth2' %}">Register with google</a>
    <div class="my-3 bg-danger text-white rounded">
        {% if request.method == "POST" %}
            <div class="p-3">{{ form.errors }}</div>
        {% endif %}
    </div>
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            {% render_field form.username class="form-control mb-3" placeholder="Username" %}
            {% render_field form.email class="form-control mb-3" placeholder="Email" %}
            {% render_field form.password1 class="form-control mb-3" placeholder="Password" %}
            {% render_field form.password2 class="form-control mb-3" placeholder="Confirm password" %}
        </fieldset>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>

    <div class="border-top pt-3">
        <p>Already have an account? <a href="{% url 'user-login-page' %}">Login</a></p>
    </div>
</main>

{% endblock content %}