{% extends 'base.html' %}
{%load static %}
{% load crispy_forms_tags %}

<!-- Extra head here -->
{% block extrahead %}
<title>Profile setting</title>
<meta name="description" content="">
{% endblock extrahead %}



<!-- Content here -->
{% block content %}
<main>
    <div class="">
        <div class="row border-bottom">
            <div class="col-3">Username </div>
            <div class="col-6">: {{ user.username }}</div>
        </div>
        <div class="row border-bottom">
            <div class="col-3">Email </div>
            <div class="col-6">: {{ user.email }}</div>
        </div>        
        <div class="row border-bottom">
            <div class="col-3">Phone </div>
            <div class="col-6">: {{ user.phone }}</div>
        </div>
    </div>

    <a href="{% url 'user-logout' %}" type="submit" class="btn btn-primary my-3">Logout</a>

</main>

{% endblock content %}