{% extends 'user/user-base.html' %}

{%load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}


<!-- Extra head here -->
{% block extrahead %}
<title>whatsIdea</title>
<meta name="description" content="">
{% endblock extrahead %}



<!-- Content here -->
{% block main-content %}
<main>
    <legend class="border-bottom mb-4">Welcome to the Idea Land!</legend>

    <div class="social-login pb-3 border-bottom">
        <a class="btn btn-block btn-outline-primary w-100" href="{% url 'social:begin' 'google-oauth2' %}">Register with
            Google</a>
        <a class="btn btn-block btn-outline-primary w-100 mt-3 disabled cursor-not-allowed">Register with Facebook</a>
    </div>

    <div class="my-3 bg-danger text-white rounded">
        {% if request.method == "POST" %}
        <div class="p-3">{{ form.errors }}</div>
        {% endif %}
    </div>
    <form method="POST">
        <p class="h5">Register with your acount:</p>
        {% csrf_token %}
        {{ form | crispy }}
        {% comment %} <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" name="username" id="username" placeholder="Username" required>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="Email" required>
        </div>
        <div class="form-group">
            <label for="password1">Password:</label>
            <input type="password" class="form-control" name="password1" id="password1" placeholder="Password" required>
        </div>
        <div class="form-group">
            <label for="password2">Confirm password:</label>
            <input type="password" class="form-control" name="password2" id="password2" placeholder="Confirm password"
                required>
        </div> {% endcomment %}
        <button type="submit" class="btn btn-primary w-100">Register</button>
    </form>

    <div class="border-top mt-3 pt-3">
        <p>Already have an account? <a href="{% url 'user-login-page' %}">Login</a></p>
    </div>
</main>

{% endblock main-content %}