{% extends 'user/user-base.html' %}

{%load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

<!-- Extra head here -->
{% block extrahead %}
<title>whatsIdea</title>
<meta name="content" content="">
{% endblock extrahead %}



<!-- Content here -->
{% block main-content %}
<main>
    <legend class="border-bottom mb-4">Welcome to the Idea Land!</legend>
    <div class="social-login pb-3 border-bottom">
        <a class="btn btn-block btn-outline-primary w-100" href="{% url 'social:begin' 'google-oauth2' %}">Login with
            Google</a>
        <a class="btn btn-block btn-outline-primary w-100 mt-3 disabled cursor-not-allowed" href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a>
    </div>
    <form method="POST">
        <p class="h5">Login with your acount:</p>
        {% csrf_token %}
        {{ form | crispy }}

        <div class="form-group">
            <button class="btn btn-primary w-100" type="submit">Login</button>
        </div>
    </form>
    <div class="border-top pt-3">
        <p>Don't have an account? <a href="{% url 'user-register-page' %}">Register</a></p>
    </div>
</main>

{% endblock main-content %}