{% extends 'base.html' %}

{%load static %}
{% load crispy_forms_tags %}

<!-- Extra head here -->
{% block extrahead %}
<title>whatsIdea</title>
<meta name="description" content="">
{% endblock extrahead %}

<!-- Content here -->
{% block content %}
<style>
    img {
        width: 120px;
    }
</style>

<div>
    <div class="row">
        <div class="col-md-7">
            {% block main-content %}
            {% endblock main-content %}
        </div>

        <div class="col-md-5">
         
        </div>
    </div>
</div>
{% endblock content %}